#CONFIGURACION SERVER
SERVER_HOST=localhost
SERVER_PORT=xxx

#URL DEL SERVIDOR EMAIL
FRONTEND_URL=http://localhost
FRONTEND_PORT=3001
UPLOADS_FOLDER_PATH=/public/uploads/ # ver archivo midleware/{uploadFactory,uploads}
#CONFIGURACION BASE DE DATOS.
DB_NOMBRE=xxx
DB_USER=xxx
DB_PASS=xxx
DB_HOST=xx.xx.xx.xx
DB_PORT=xxxx
DB_SYNC_MODE=none # none, alter, force, default
# 🔧 default: cuando estás en desarrollo y querés que cree tablas si no existen, pero sin alterar ni borrar nada.
# 🧪 alter: si querés que Sequelize actualice las tablas según los modelos (puede fallar en cambios complejos).
# 💣 force: borra y recrea todo (solo para tests o primeros desarrollos).
# 🔒 none: producción con tablas ya creadas y migraciones manuales o automáticas controladas.
USER_CODE_PREFIX=CL # Prefijo de los usuarios en la base de datos

# CONFIGURACION DE EMAIL
EMAIL_HOST=xxxx # Servidor de correo electrónico, por ejemplo: mail.privateemail.com
EMAIL_PORT=xxx # 465 para SMTP seguro, 587 para SMTP normal
EMAIL_USER=xxx # Usuario de correo electrónico.
EMAIL_PASS=xxxx # Contraseña del correo electrónico.


COOKIE_HTTPS=true # True si el servidor es HTTPS, false si es HTTP
COOKIE_NAME=token # Nombre de la cookie que se usará para almacenar el token JWT
COOKIE_MAX_AGE=86400000 # 1 días en milisegundos

# FRONTEND CONFIGURATION CORS (Permite que el frontend acceda al backend por estas URLS)
CORS_ALLOWED_ORIGINS=http://xxx:3001,http://xxx:3001,http://xxx:3001

#JWT
JWT_SECRET="xxxx" # Clave secreta para firmar los tokens JWT, debe ser larga y compleja
JWT_EXPIRES_IN=1d # Tiempo de expiración del token JWT.
# Puedes usar formatos como '2d', '5h', '10m', '30s'.
# Esto define cuánto tiempo el token JWT será válido antes de que caduque.

# AUDITORÍA (Modelos que serán auditados, separados por comas)
AUDIT_MODELS=Property,User,Client,Professional,Payment,Deposit,PropertyPublication,AgentSubscription,ClientSubscription
